*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}



body{
    width: 100vw;
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 70rem;
    height: 17rem;
    background: linear-gradient( to right, #1f1a11, #f6360b );
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    border-radius: 15px;
}
.immagine{
    width: 10rem;
    height: 15rem;
}

.green{
    background: linear-gradient( to right, #111d1f, #0bf69c );
}